.link_more{
    text-decoration: none;
    color: black;
}

.navlink_shadow{

}
.navlink_shadow:hover{
    text-shadow: 0 0 5px black;
}
.main_block{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-right: calc(-0.5 * var(--bs-gutter-x));
    padding-left: calc(-0.5 * var(--bs-gutter-x));
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
}
.main_image{
    max-height: 600px;
    width: auto;
    min-width: 286px;
}

.card_hover:hover{
    box-shadow: 0 0 1px 1px black;
}


.card_img{
    border: 1px solid lightgray;
    min-width: 286px;
    transition: 1s;
}
.card_img:hover{
    transform: scale(1.8);
}
